.background {
  padding: 175px 0;
  background:#ffffff url("../../assets/handshake.webp") no-repeat;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.greeting {
  padding: 25px;
  width: 500px;
  background-color: white;
  height: 100%;
}

.contact-info {
  list-style-type: none;
  padding-inline-start: 0
}

.contact-info__icon {
  margin: 10px 10px 0 0 ;
}