@import "src/constants/style.scss";

.background {
  padding: 150px 0;
  background:#ffffff url("../../assets/handshake.webp") no-repeat;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: $margin--large;
}

.greeting {
  padding: 25px;
  width: 500px;
  background-color: white;
  height: 100%;
}

.contact-info {
  list-style-type: none;
  padding-inline-start: 0;
}

.contact-info__list-item {
  display: flex;
  align-items: center;
  margin-bottom: $margin--medium;
}

.contact-info__icon {
  margin: 0 10px 0 0 ;
}