@import "src/constants/style.scss";

.header {
  padding: $padding--large;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0
}

.nav__item {
  margin: 0 0 0 $margin--large;
  color: inherit;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
}
.nav__item:hover{
  text-decoration: underline;
}