.citation {
  display: flex;
  justify-content: center;
  border-bottom: #C99E60 0.5em solid;
  border-top: #C99E60 0.5em solid;
  margin: 25px;
}

.citation__saying {
  font-size: xx-large;
}

.citation__author {
  text-align: right;
  font-size: larger;
}